body {
    box-sizing: border-box;
    margin: 0;
    background-color: #ffffff;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#calculator  {
    margin:3em auto;
    max-width: 280px;
    min-width: 280px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.8em;
    border-radius: 18px;
    
    #display {
        background-color: #f0f0f0;
        min-height: 8em;
        margin-bottom: 0.8em;
        border-radius: 5px;
        
        
        #inputs {
            /* font-family: 'Cursed Timer ULiL', sans-serif;  */
            font-size: 1.8em;
            display: flex;
            justify-content: flex-end;
            min-height: 80%;
            padding: 0.5em;
        }
        #results {
            font-size: 1.5em;
            display: flex;
            justify-content: flex-end;
            padding: 0.5em;
            font-size: 2em;
        }
    };
    
    #buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: 0.5em;
    }
    
    button {
        padding: 20px 0;
        border: none;
        border-radius: 15px;
        background-color: #f5f5f5 ;
        font-size: 1.1em;
    }
    
    
}

